<h2>All Admins
	<a class="btn btn-primary pull-right" href="#/create">
	    <iclass="icon-plus-sign icon-white"></i> 
		New Admin
       </a>
        <span width='30px'/>
	<a class="btn btn-primary btn-danger pull-right" ng-click="logout()">Logout</a>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Admin Name
        </th>
        <th>
            Admin Data
        </th>
        <th>
            Parameter
        </th>
        <th>
            Created On
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr ng-repeat="admin in admins">
        <td>{{$index+1}} : {{admin.id}}</td>
        <td>
            {{admin.name}}
        </td>
        <td>
            {{admin.adminData}}
        </td>
        <td>
            {{admin.parameter}}
        </td>
        <td>
            {{admin.createdOn |date:'medium'}}
        </td>
		<td>
			<a ng-click="editAdmin(admin)" class="btn btn-small btn-primary">Edit</a>
		</td>
        <td>
			<a ng-click="deleteAdmin(admin)" class="btn btn-small btn-danger">Delete</a>
		</td>
     </tr>
</table>