<form class="form-horizontal" role="form" ng-submit="login()">
	<div class="form-group">
    	    <label class="col-sm-2 control-label">Login Form</label>
	</div>
         <users-List></users-List>
         <div class="form-group">
           <label for="loginName" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="loginName" placeholder="login" ng-model="user.login">
            </div>

        <label for="loginName" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="password" placeholder="password" ng-model="user.password">
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>