<h2>All Users 
	<a class="btn btn-primary pull-right" href="#/create">
	    <iclass="icon-plus-sign icon-white"></i> 
		New User 
    </a>
</h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            User Name
        </th>
        <th>
            User Description
        </th>
        <th>
            Created On
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{$index+1}} : {{user.id}}</td>
        <td>
            {{user.userName}}
        </td>
        <td>
            {{user.description}}
        </td>
        <td>
            {{user.createdOn |date:'medium'}}
        </td>
		<td>
			<a ng-click="editUser(user)" class="btn btn-small btn-primary">Edit</a>
		</td>
        <td>
			<a ng-click="deleteUser(user)" class="btn btn-small btn-danger">Delete</a>
		</td>
     </tr>
</table>