<form class="form-horizontal" role="form" ng-submit="createAdmin()" name="createAdminForm">
    <div class="form-group">

        <label for="adminName" class="col-sm-2 control-label">Admin Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write Admin Name" ng-model="admin.name">
        </div>

        <label for="adminData" class="col-sm-2 control-label">Admin Data</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="adminData" placeholder="Write Admin Data" ng-model="admin.adminData">
        </div>

        <label for="adminParameter" class="col-sm-2 control-label">Admin Parameter</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="adminParameter" placeholder="Write Admin Parameter" ng-model="admin.parameter" required>
		</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">New Admin</button>
        </div>
    </div>
</form>