<form class="form-horizontal" role="form" ng-submit="updateAdmin()">
	<div class="form-group">
    	<label class="col-sm-2 control-label">Edit admin, id={{admin.id}}</label>
	</div>
    <div class="form-group">
        <label for="adminName" class="col-sm-2 control-label">Admin Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write Admin Name" ng-model="admin.name">
        </div>

        <label for="adminData" class="col-sm-2 control-label">Admin Data</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="adminData" placeholder="Write Admin Data" ng-model="admin.adminData">
        </div>

        <label for="adminParameter" class="col-sm-2 control-label">Admin Parameter</label>
        <div class="col-sm-10">
            <input type="number" required class="form-control" id="adminParameter" placeholder="Write Admin Data" ng-model="admin.parameter">
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save changes</button>
        </div>
    </div>
</form>