<form class="form-horizontal" role="form" ng-submit="updateUser()">
	<div class="form-group">
    	<label class="col-sm-2 control-label">Edit user, id={{user.id}}</label>
	</div>
    <div class="form-group">
        <label for="userName" class="col-sm-2 control-label">User Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" placeholder="Write User Name" ng-model="user.userName">
        </div>

        <label for="description" class="col-sm-2 control-label">User Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write User Description" ng-model="user.description">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save changes</button>
        </div>
    </div>
</form>